// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

// Menu Icon
.navbar-light .navbar-toggler {
    border: none;
}

// Menu links
#navbarNavDropdown > ul > li {
    margin: 0.2em;
}